<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <auto_order_cancel>
            <configuration>
                <enabled>0</enabled>
                <time>7</time>
                <cron>30 3 * * *</cron>
            </configuration>
        </auto_order_cancel>
    </default>
</config>
